<!-- Events -->
<!-- 
<h2>jqxBarGauge Events</h2>

<jqxBarGauge (onDrawEnd)="somethingToDo($event)" [width]="700" [height]="700" [colorScheme]="'scheme03'" [tooltip]="tooltip2" [values]="values2" [max]="150"></jqxBarGauge>

<h2>jqxBarGauge Example 2</h2>

<jqxBarGauge
            [width]="600" [height]="600" [colorScheme]="'scheme02'" 
            [max]="150" [tooltip]="tooltip" [values]="values"
            #barGaugeReference2>
</jqxBarGauge>

<h2>Creating jqxBarGauge Components with Json</h2>

<jqxBarGauge #barGaugeReference></jqxBarGauge> -->

<h2>jqxGrid</h2>
<!-- 
<jqxGrid 
	[selectionmode]="'checkbox'" 
	[source]="source" 
	[theme]="'material'" 
	[autoheight]="true" 
	[pageable]="true" 
	[altrows]="true" 
	[filterable]="true" 
	[sortable]="true" 
	[columns]="columns" 
#grid>
</jqxGrid>  

<h2>jqxGrid Example 2</h2>

<jqxGrid
			[width]='1400' [source]='dataAdapter2'
			[pageable]='true' [autoheight]='true'
			[editable]='true' [sortable]='true'
			[columns]='columns2' [columngroups]='columngroups2'
			[selectionmode]='"multiplecellsadvanced"'
			#gridReference>
		</jqxGrid> -->



		<!-- <jqxGrid #gridReference [auto-create]='false'></jqxGrid> -->

		<!-- <jqxGrid #gridReference (onFilter)="onFilter()"
		[width]='850' [source]='dataAdapter' [filterable]='true'
		[sortable]='true' [ready]='ready' [autoshowfiltericon]='true' [columns]='columns'>
	</jqxGrid> -->

	<jqxGrid [theme]="'material'" [selectionmode]="'checkbox'" [filterable]="true" [width]="1500" [source]="dataAdapter" [columns]="columns"
	[columnsresize]="true" [sortable]="true" [autoheight]="true" [autorowheight]="true" [autoshowfiltericon]="true"></jqxGrid>